---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro."> 
    <div class="space-y-5">
        <h1 class="text-7xl font-semibold text-center">Acerca de <span class="text-zinc-500">mi</span></h1>
        <p class = "text-center text-zinc-600 text-md">
            Despues de terminar el bachillerato en Venezuela, me mudé a Barranquilla - Colombia en donde estudié la carrera de Ingeniería en Sistemas y Computación en la Corporación Universitaria Latinoamericana y complementé mis estudios con cursos online para mejorar mis conocimientos y habilidades.
    
            Me gusta la programación en general. He particiado en distintos proyectos tanto laboral como personales los cuales me han permitido fortalecer mis conocimientos y habilidades en el desarrollo web y en la ingeniería de datos.
        </p>
    </div>

</Layout>