---
import Layout from '@/layouts/Layout.astro';
import ImagenesTecnologias from "../components/Imagenes_Tecnologias.astro";
import PaginaExperiencia from "@/components/experiencia-componentes/PaginaExperiencia.astro";
import PaginaProyectos from "@/components/proyectos-componentes/PaginaProyectos.astro";
import Inicio from "@/components/inicio-componentes/Inicio.astro";

const imagenesArray = [
  '/img/lenguajes/astro.svg',
  '/img/lenguajes/react.png',
  '/img/lenguajes/javascript.png',
  '/img/lenguajes/flask.svg',
  '/img/lenguajes/pandas.png',
  '/img/lenguajes/tailwind.ico',
  '/img/lenguajes/sql.png',
  '/img/lenguajes/python.png',
  '/img/lenguajes/mongodb.svg',
  '/img/lenguajes/powerbi.svg',
  '/img/lenguajes/postgresql.svg',
];


const pageTitle = "Inicio";
---

<Layout title = {pageTitle}> 

	<div class="py-5" id="inicio">
        <Inicio />
	</div>

    <div class="py-5" id="experiencia">
        <PaginaExperiencia />

	</div>
{/* 
	<div class="flex flex-wrap justify-center">
        {imagenesArray.map((imagen) => {
            return(
                <ImagenesTecnologias
                    imagen = {imagen},
                />
                );
            })
        }

    </div>
*/}
    <div class="py-5" id="proyectos">
        <PaginaProyectos />
    </div>
{/*
    <div class="space-y-5">
        <h1 class="text-6xl font-semibold text-center">Acerca de <span class="text-emerald-400">mi</span></h1>
        <p class = "text-center text-zinc-600 text-md">
            Despues de terminar el bachillerato en Venezuela, me mudé a Barranquilla - Colombia en donde estudié la carrera de Ingeniería en Sistemas y Computación en la Corporación Universitaria Latinoamericana y complementé mis estudios con cursos online y aprendizaje para mejorar mis conocimientos y habilidades.
    
            Me gusta la programación en general. He particiado en distintos proyectos tanto laboral como personales los cuales me han permitido fortalecer mis conocimientos y habilidades en el desarrollo web y en la ingeniería de datos.
        </p>
    </div>
 */}
</Layout>