---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Inicio";
---

<Layout title = {pageTitle}> 

	<div class="flex my-56 items-center">
		<div class="space-y-5 md:flex md:space-x-5 md:justify-center md:items-center">
			<div class="flex justify-center">
				<img src = '/img/foto-perfil.jpeg' class="h-56 md:h-40 md:w-72 lg:h-full lg:w-96 rounded-full" alt = "foto de perfil de jean" />
			</div>

			<div class="flex flex-col gap-y-8 md:gap-y-10">
				<div class="space-y-5">
					<h1 class="text-2xl md:text-4xl font-bold"><i class="fa-solid fa-terminal"></i> Hola, soy <span class="text-green-500 opacity-75">Jean Trujillo</span></h1>

					<p class="text-md text-slate-500">
						Me gusta la programación en general. Tengo experiencia en
						desarrollos de páginas web y en la ingeniería de datos.
					</p>
				</div>

				<div class="md:text-end">
					<a class="text-zinc-900 bg-gray-200 hover:bg-gray-300 font-medium rounded-lg text-sm px-5 py-3 md:py-3" target ="_blank"  href="https://drive.google.com/file/d/14Gr9Pqu1ouFzmEK0RMet5Uh7jtJ0hjY2/view?usp=sharing"><i class="fa-regular fa-file"></i> Hoja de vida</a>
					<a class="text-zinc-900 bg-gray-200 hover:bg-gray-300 font-medium rounded-lg text-sm px-5 py-3 md:py-3" target ="_blank"  href="https://www.linkedin.com/in/jeantpdev/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
					<a class="text-zinc-900 bg-gray-200 hover:bg-gray-300 font-medium rounded-lg text-sm px-5 py-3 md:py-3" target ="_blank"  href="https://github.com/jeantpdev"><i class="fa-brands fa-github"></i> GitHub</a>
				</div>

			</div>
		</div>
	</div>
</Layout>