---
import Layout from '../layouts/Layout.astro';

const pageTitle = "Inicio";
---

<Layout title = {pageTitle}> 

	<div class="flex my-56 items-center">
		<div class="space-y-5 lg:flex md:space-x-5 md:justify-center md:items-center lg:max-w-3xl lg:mx-auto">

			<div class="flex justify-center">
				<img src = '/img/foto-perfil.jpeg' class="h-56  lg:h-full lg:w-[300px] rounded-full" alt = "foto de perfil de jean" />
			</div>

			<div class="flex flex-col gap-y-8 md:gap-y-5 p-5">
				<div class="space-y-5">
					<h2 class="text-4xl md:text-3xl font-bold"><i class="fa-solid fa-terminal"></i> Hola, soy <span class="text-green-500 opacity-75">Jean Trujillo</span></h2>

					<p class="text-md">
						Me gusta la programación en general. Tengo experiencia en
						desarrollos de páginas web y en la ingeniería de datos.
					</p>
				</div>

				<div class="flex flex-wrap items-center gap-x-2 gap-y-3 md:flex-row md:gap-x-2 lg:items-end lg:justify-end">
						<a class=" text-zinc-900 bg-zinc-200 hover:bg-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:py-3" target ="_blank"  href="https://drive.google.com/file/d/1MYjQF2RiYd5e3Dv73DnJ6ZnIX34BypHa/view?usp=sharing"><i class="fa-regular fa-file"></i> Hoja de vida</a>

						<a class=" text-zinc-900 bg-zinc-200 hover:bg-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:py-3" target ="_blank"  href="https://www.linkedin.com/in/jeantpdev/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
						
						<a class=" text-zinc-900 bg-zinc-200 hover:bg-gray-300 font-medium rounded-lg text-sm px-4 py-2 md:py-3" target ="_blank"  href="https://github.com/jeantpdev"><i class="fa-brands fa-github"></i> GitHub</a>

				</div>

			</div>
		</div>
	</div>
</Layout>