---
---
<div class="flex items-center gap-x-5">
    <p class='font-semibold bg-zinc-900 text-zinc-500 py-1 px-6 rounded-md hover:text-emerald-600'>jeantp.dev</p>
</div>
<div class="flex flex-col justify-between my-20">
    <div class="lg:flex flex-col md:space-y-5">

        <div class = 'flex flex-col lg:flex-row items-center gap-x-2'>
            <figure>
                <img src = '/img/foto-perfil.jpeg' class="h-40 lg:h-full lg:w-[100px] rounded-full" alt = "foto de perfil de jean" />
            </figure>
            <div class="flex flex-col">
                <h2 class="text-4xl md:text-lg font-bold text-zinc-800">Hola, soy</h2>
                <h2 class="text-4xl md:text-3xl font-bold text-zinc-800"><span class="text-green-500 opacity-75">Jean Trujillo</span></h2>
            </div>

        </div>

        <div class="flex flex-col gap-y-8 md:gap-y-5">
            <div class="lg:w-[700px]">
                <p class="text-base">
                    Me gusta la programación en general. Tengo experiencia en
                    desarrollos de páginas web y en la ingeniería de datos. Actualmente estoy viviendo en Barranquilla - Colombia.
                </p>
            </div>

            <div class="flex flex-col lg:flex-row flex-wrap gap-x-2 gap-y-3 md:flex-row md:gap-x-2 lg:items-center">
                <div class = "grid">
                    <a class=" text-white bg-gray-800  hover:bg-gray-700 font-medium rounded-lg text-sm px-4 py-2" target ="_blank"  href="https://drive.google.com/file/d/1MYjQF2RiYd5e3Dv73DnJ6ZnIX34BypHa/view?usp=sharing"><i class="fa-regular fa-file"></i> Hoja de vida</a>
                </div>

                <div class = "grid">
                    <a class=" text-white bg-gray-800  hover:bg-gray-700 font-medium rounded-lg text-sm px-4 py-2" target ="_blank"  href="https://www.linkedin.com/in/jeantpdev/"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                </div>

                <div class = "grid">
                    <a class=" text-white bg-gray-800  hover:bg-gray-700 font-medium rounded-lg text-sm px-4 py-2" target ="_blank"  href="https://github.com/jeantpdev"><i class="fa-brands fa-github"></i> GitHub</a>
                </div>

                <div class = "grid">
                    <p class = "py-1 px-4 items-center text-white bg-gray-800 rounded-lg md:flex">
                        <a href="mailto:jeantpdev@gmail.com"
                        class="">
                        jeantpdev@gmail.com
                    </a>
                    <button
                    class="self-center bg-gray-800 rounded-lg md:flex"
                    onclick="navigator.clipboard.writeText('jeantpdev@gmail.com')">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-copy"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="#ffffff"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path
                            stroke="none"
                            d="M0 0h24v24H0z"
                            fill="none"
                        ></path>
                        <path
                            d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
                        ></path>
                        <path
                            d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
                        ></path>
                    </svg>
                </button>
                    </p>
                </div>
                
            </div>

        </div>
    </div>
</div>